<!-- Header -->
  <header id="header">
     <div>
       <div id="header_img">
        <a href="{{ site.github.url }}/" class="image avatar"><img src="{{ site.github.url }}/images/coffee.jpg" alt="" /></a>
        <h1>{{ site.description | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      </div>
      <div id="header_category">
        <ul>
            <li class="{% if page.url == '/algorithm/' %} active {% endif %}"
            {% if page.url == '/algorithm/' %}
            {% endif %}>
              <a href="{{ base_path }}/algorithm/">algorithm</a></li>
            <li class="{% if page.url == '/portfolio/' %} active {% endif %}"
            {% if page.url == '/portfolio/' %}
            {% endif %}>
              <a href="{{ base_path }}/portfolio/">portfolio</a>
            </li>
            <li class="{% if page.url == '/gitblog/' %} active {% endif %}"
            {% if page.url == '/gitblog/' %}
            {% endif %}>
              <a href="{{ base_path }}/gitblog/">gitblog</a>
            </li>
        </ul>
       </div>
     </div>
  </header>
