<!-- Header -->
<style>
  ol.v {list-style-type: none;}
</style>
  <header id="header">
    <a href="{{ site.github.url }}/" class="image avatar"><img src="{{ site.github.url }}/images/coffee.jpg" alt="" /></a>
    <h1>{{ site.description | markdownify | remove: '<p>' | remove: '</p>' }}</h1>

    <ol class="v">
        <li class="{% if page.url == '/algorithm/' %} active {% endif %}">
          <a href="{{ base_path }}/algorithm/">algorithm</a></li>
        <li class="{% if page.url == '/portfolio/' %} active {% endif %}">
          <a href="{{ base_path }}/portfolio/">portfolio</a>
        </li>
        <li class="{% if page.url == '/gitblog/' %} active {% endif %}">
          <a href="{{ base_path }}/gitblog/">gitblog</a>
        </li>
    </ol>

  </header>
